node_modules
npm-debug.log
dist
.env
.git
.gitignore
output
logs
errors
tmp
output_test
output_test_integration
src/__tests__
*.md
Dockerfile
docker-compose.yml
tsconfig.json
.eslintrc.js
.prettierrc
